.div {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.form {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    width: 30%;
    min-width: 220px;
}

.form h2 {
    margin: 1rem 0;
}

.inputText {
    margin: 0.4rem 0;
    padding: 0.4rem;
    border-width: thin;
    border-color: rgb(98, 211, 168);
}

.button {
    cursor: pointer;
    border: none;
    background-color: rgb(98, 211, 168);
    padding: .3rem;
}

.button:hover {
    background-color: rgb(47, 156, 114);
    border: none;
}